@import 'compass';
@import '../vendors/rem';
@import 'variables';
@import 'functions';
//-------------------------------------------------------
// CROSS-BROWSER MIXINS
//-------------------------------------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//-------------------------------------------------------
// TRANSITION MIXINS
//-------------------------------------------------------
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
//-------------------------------------------------------
// ANIMATION & KEYFRAME MIXINS
//-------------------------------------------------------
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	// @-moz-keyframes #{$name} {
	// 	@content;
	// }
	// @-ms-keyframes #{$name} {
	// 	@content;
	// }
	// @-o-keyframes #{$name} {
	// 	@content;
	// }
	@keyframes #{$name} {
		@content;
	}
}
@mixin prefix($prop, $str) {
	-webkit-#{$prop}: #{$str};
	-moz-#{$prop}: #{$str};
	-ms-#{$prop}: #{$str};
	-o-#{$prop}: #{$str};
	#{$prop}: #{$str};
}
//-------------------------------------------------------
// BUTTON MIXINS
//-------------------------------------------------------
@mixin button($color-btn, $outline: false) {
	@include button-core($color-btn);
	@include transition(.3s);
	@if $outline {
		&:hover {
			@include button-fx-outline($color-btn);
		}
	}
}
	@mixin button-core($color-btn, $color: #fff, $radius: 3px){
		@include rem(font-size, 2rem);
		@include rem(padding, 1rem 2rem);
		@include rem(margin, 1rem);
		border-radius: $radius;
		font-family: $font-body;
		color: $color;
		background: $color-btn;
		text-decoration: none;
		outline: none;
		border: none;
		cursor: pointer;
		&:active {
			background: $color-btn-active;
		}
	}
	// Outline Button
	@mixin button-fx-outline($color) {
		box-shadow: 0 0 0 2px $color-bg, 0 0 0 4px $color;	
	}
	// Scale Button
	@include keyframes(btnFxScale) {
		from, to {
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
		}
		25% {
			-webkit-transform: scale(.9, 1.1);
			transform: scale(.9, 1.1);
		}
		50% {
			-webkit-transform: scale(1.1, .9);
			transform: scale(1.1, .9);
		}
		75% {
			-webkit-transform: scale(.95, 1.05);
			transform: scale(.95, 1.05);
		}
	}

