// Font Stack in Vendors Folder
@import '../vendors/font-stack';

// Font
$font-heading: $merriweather-sans-font-stack;
$font-body: $lato-font-stack;
$heading-base: 5rem;

// Color
$color-bg: #fff;

// Button Color
$color-btn-pri: #65b9d3;
$color-btn-alt: #c96142;
$color-btn-active: #69d482;

